In [1]:
my_dict = {"colour":['red','white','white'], 'staff':['mark','james','tracy']}
my_dict

{'colour': ['red', 'white', 'white'], 'staff': ['mark', 'james', 'tracy']}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(my_dict)

In [4]:
df.head()

  colour  staff
0    red   mark
1  white  james
2  white  tracy